* {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.board {
  box-shadow: 7px 7px 1px black inset;
  box-shadow: 7px 7px 15px black;
  border: 12px solid black;
  border-style: inset;
  background-color: #000000;
  display: inline-block;
  margin-bottom: 30px;
}

.cell {
  transition: all 0.2s;
  border-radius: 15%;
  border-right: 6px solid rgb(32, 32, 32);
  border-bottom: 6px solid rgb(32, 32, 32);
  border-left: 4px solid rgb(167, 167, 167);
  border-top: 4px solid rgb(167, 167, 167);
  display: inline-flex;
}

.line {
  background-color: rgb(0, 0, 0);
}

.cell img {
  position: relative;
  border-radius: 12%;
  opacity: 0;
}

.cell p {
  font-weight: 700;
  font-size: 100%;
  position: absolute;
}

.closed:hover {
  opacity: 0.55;
}

.closed {
  cursor: cell;
  background-color: rgb(56, 97, 121);
}

.open, .open-empty{
  background-color: rgb(182, 182, 182);
  cursor: not-allowed;
}

.explod img {
  opacity: 1;
}

@media only screen and (max-width: 570px) {
  .cell p {
    font-size: 100%;
  }

  .cell {
    border-right: 5px solid rgb(32, 32, 32);
    border-bottom: 5px solid rgb(32, 32, 32);
    border-left: 3px solid rgb(167, 167, 167);
    border-top: 3px solid rgb(167, 167, 167);
  }
}

@media only screen and (max-width: 400px) {
  .cell p {
    font-size: 100%;
  }

  .cell {
    border-right: 3px solid rgb(32, 32, 32);
    border-bottom: 3px solid rgb(32, 32, 32);
    border-left: 2px solid rgb(167, 167, 167);
    border-top: 2px solid rgb(167, 167, 167);
  }
}

::-webkit-scrollbar {
  width: 10px;
  color: blueviolet;
}
