* {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.line {
  height: 49px;
}

.cell {
  border: 2px solid black;
  display: inline-flex;
}

.cell img {
  position: relative;
}

.cell p {
  font-weight: 700;
  font-size: large;
  position: absolute;
}

.explod {
  color: transparent;
}

.open-empty {
  color: transparent;
}

.open {
  color: black;
}

.closed {
  color: transparent;
}
